#console {
  opacity: 0.9;
  z-index: 999;
  background: #000;
  color: #DDD;
  font-family: monospace;
  padding-left: 15px;
  padding-top: 10px;
  height: 25%;
  position: fixed;
  width: 100%;
  bottom: 0px;
  border-top: 3px solid #DEDEDE;
  overflow: hidden;
  padding-top: 10px;
}
#console form div, #console form span {
  font-size: 14px;
  background: #000;
  border: 0px;
  font-family: monospace;
  color: #FFF;
}
#console form div.results{
  position: absolute;
  bottom: 40px;
  margin-bottom: -10px;
}
#console form div.input{
  width: 97%;
  position: absolute;
  bottom: 10px;
}
#console form div.input input{
  margin-top: 0px;
  margin-bottom: 0px;
  width: 97%;
  font-size: 14px;
  background: #000;
  border: 0px;
  font-family: monospace;
  color: #FFF;
}
